@model ImplementingLikeButton.Models.Knowledge

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col">
        <div class="card Page-input-card mb-4 shadow">
            <div class="card-body">
                <h5 class="signin-card-title text-warm fs-5 fw-normal justify-content-start d-grid mb-4">
                    Delete article now
                </h5>

                <div class="justify-content-center">
                    <div class="row g-4 pb-3">
                        <form asp-action="Delete">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />

                            <div class="form-floating mb-3">
                                <input asp-for="KnowledgeName" id="floatingInputValue" class="form-control Page-input-box myinput-text" />
                                <label for="floatingInputValue">Knowledge Name</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="Description" id="floatingInputValue" class="form-control Page-input-box myinput-text" />
                                <label for="floatingInputValue">Knowledge Description</label>
                            </div>

                            <div class="text-center mb-3">
                                <input name="SubmitProfile" type="submit" value="Delete" class="btn btn-warm btn-lg rounded-pill Page-button-transform" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}