@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <div class="card account-card shadow bg-body rounded">
        <h5 class="account-card-title">
            Access denied
        </h5>
        <h6 class="account-card-subtitle">
            You do not have access to this resource.
        </h6>
    </div>
</header>
