@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="card account-card shadow bg-body rounded">
    <h5 class="account-card-title">
        Confirm your email address
    </h5>
</div>

<partial name="_StatusMessage" model="Model.StatusMessage" />
