@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<div class="card account-card shadow bg-body rounded">
    <h5 class="account-card-title">
        Confirm change of email address
    </h5>
</div>

<partial name="_StatusMessage" model="Model.StatusMessage" />
