@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <div class="card account-card shadow bg-body rounded">
        <h5 class="account-card-title">
            Account locked out
        </h5>
        <h6 class="account-card-subtitle">
            This account has been locked out, please try again later.
        </h6>
    </div>
</header>