@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<div class="card signin-card shadow bg-white rounded pe-2 ps-2">
    <div class="card-body signin-card-body">
        <h5 class="signin-card-title text-warm fs-2 fw-bold">
            Enter your email.
        </h5>
        <h6><span class="badge bg-warm mt-2">Welcome again.</span></h6>

        <div>
            <section>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <div class="signin-textbox-group">
                        <input asp-for="Input.Email" class="form-control signin-textboxes" autocomplete="username" placeholder="My email address is ..." aria-required="true" />
                        <span asp-validation-for="Input.Email" class="text-danger signin-validation-text"></span>
                    </div>

                    <div>
                        <button type="submit" class="btn btn-warm btn-lg signin-button">Resend</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
